<h1>ANGULAR</h1>
<h1>Hello, you have pressed enter {{counter}} number of times!</h1> Press enter key
to increment the counter.
<button (click)="resetCounter()">Reset Counter</button>`
<app-courses></app-courses>
<div class="container">
  <h2>New in smart phone</h2>
  <div class="more-products">
    <div class="card">
      <h4 class="title">New in iPhone</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-more">Show more</button>
    </div>
    <div class="card">
      <h4 class="title">New in Samsung</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-more">Show more</button>
    </div>
    <div class="card">
      <h4 class="title">New in OnePlus</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <button class="btn btn-more">Show more</button>
    </div>
    <div class="card">
      <h4 class="title">New in MI</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn btn-more">Show more</button>
    </div>
  </div>
</div>
<h1>ng-content-modified use of ng content </h1>
<div class="container">
  <h2>New in smart phone</h2>
  <div class="more-products">
    <app-ng-content-modified>
      <h4 class="title">New in iPhone</h4>
    </app-ng-content-modified>
  
    <app-ng-content-modified>
      <h4 class="title">New in Samsung</h4>
    </app-ng-content-modified>
    <app-ng-content-modified>
      <h4 class="title">New in OnePlus</h4>
    </app-ng-content-modified>
    <app-ng-content-modified>
      <h4 class="title">New in MI</h4>
    </app-ng-content-modified>
  </div>
</div>